<hr>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<footer>
    <p>&copy; <%=new Date().getFullYear()%> My Express Site</p>
    <section class = address ><li> 1961 Delta Rd</li>University Center, MI<li>48706</li></section>
    <br>
    <br>
    <section class = contact ><li> Phone: 989-686-9700</li><li> Email: info@delta.edu</li></section>
</footer>