<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header')%>
    <h2> Your Campus is Delta College: </h2>
    <h3>Institution Information</h3>
    <li>OrgUnit ID:</li><li>Enrolled Faculty:</li><li>Enrolled Students:</li><li>New Faculty Hires:</li>
    <br>
    <br>
    <%- include('partials/footer') %>
</body>
            
</html>