<!DOCTYPE html>
<html>
<head>
    <title><%= siteTitle %></title>
    <link rel ="stylesheet" href ="/style.css">
</head> 
 <body>
    <%- include('partials/header')%>
    <h2>Welcome!</h2>
    <p> This website is a home base to gather new hire report data for Delta College. <br>
        New employees are directed to this site to add their contact information in the data base.
    </p>
    <h2> Delta's Mission</h2>
    <p> Delta College collaborates to deliver and sustain an enriching education that empowers 
        our diverse and inclusive community to achieve their personal, professional and academic goals.
    </p>
    <br>
    <%- include('partials/footer')%>
</body>
</html> 