.center {
  text-align: center;
}

.left {
  text-align: left;
}


body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
    background-color: #f0f0f0;
    text-align: left;
  
}

.title {
    text-align: center
}
.menu {
    text-align: left

}

h1 {
  color: darkgreen
}

h2 {
    color: darkgreen;
}

header, footer {
  font-weight: bold;
  text-align: center;
}
nav a {
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
nav a.active {
  font-weight: bold;
  color: #004a8f;
}

main {
    max-width: 60ch;
    margin: 0 auto;
    padding: 1rem;
}

.address {
  font-size: 15px;
  color: black;
  font-weight: bold;
  text-align: left;
  
}

.contact{
  font-size: 15px;
  color: #007acc;
  font-weight: bold;
  text-align: left;
}

